<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gsitm.teamproject.domain.festival.FestivalMapper">

    <select id="countAllWithFilter" resultType="int">
        SELECT COUNT(*) FROM festival
        <where>
            <if test="codename != null and codename != ''">
                AND code_name = #{codename}
            </if>
            <if test="guname != null and guname != ''">
                AND guname = #{guname}
            </if>
        </where>
    </select>

    <select id="findAllByFilter" resultType="gsitm.teamproject.dto.FestivalListResponseDto">
        SELECT
        id,
        main_img,
        title,
        date,
        place
        FROM festival
        <where>
            <if test="codename != null and codename != ''">
                AND code_name = #{codename}
            </if>
            <if test="guname != null and guname != ''">
                AND guname = #{guname}
            </if>
        </where>
<!--        <if test="sort=='POPULAR'">-->
<!--            order by click desc-->
<!--        </if>-->
        ORDER BY date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findById" resultType="gsitm.teamproject.dto.FestivalDetailResponse">
        SELECT
        id,
        use_fee,
        guname,
        main_img,
        date,
        title,
        code_name,
        user_trgt,
        place,
        org_link
        FROM festival
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>
</mapper>


